        path {
				stroke: steelblue;
				stroke-width: 1;
				fill: none;
			}
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 10px Helvetica, Arial; color: white; }
html, body { height: 100%; padding: 0; margin: 0; }
div { position: relative; width: 50%; height: 50%; float: left; }

.div1 { background: #111; }
.div2 { background: #222; }
.div3 { background: #333; }
.div4 { background: #111; }
.sensoridata {position: absolute; bottom: 7px; left:5px; }
.dataText {position: absolute; bottom: 7px; left:5px; height: 75px; }
.chart {position: absolute; right:5px; bottom:2px; }
        
        .chart {
            position: absolute;
        }
        
        .chart rect {
			fill: #DF01A5;
			stroke: white;
		}
		.chart text {
			fill: black;
		}
		
		.axis path,
		.axis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
		}
			
		.axis text {
			font-family: sans-serif;
			font-size: 11px;
		}

    .garden {
    position: relative;
    width : 125px;
    height: 125px;
    border: 5px solid black;
    background: grey;
    border-radius: 10px;
    }

    .ball {
      position: absolute;
      top   : 90px;
      left  : 90px;
      width : 25px;
      height: 25px;
      background: white;
      border-radius: 100%;
    }

/* ---Dropdown menu--- */

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #1CAF50;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    width: 150px;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    width: 150px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}

/* inside the dropdown */
.dropdown-content form {
    width: 150px;
    color: black;
    text-decoration: none;
    display: block
}

.dropdown-content checkbox {
    color: black;
}


input[type=checkbox] { 
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0
}
input[type=checkbox]:after {
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
      font-size: 14px;
      content: "O";
      color: #333;
      display:block;
 
}

input[type=checkbox]:checked:after {
  background-color: #ffa500;

} 

/* Change color of dropdown links on hover */
.dropdown-content [type=checkbox]:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
    
